/_01_createObject.class
/_02_accessModifier.class
/_03_method.class
/_04_inputCalc.class
/_05_defaultConstructor.class
/_07_parameterConstructor.class
/_06_parameterConstructor.class
/_07_Static.class
/_08_localGlobalVariables.class
/_09_singleton.class
/_10_inputCalc.class
/_10_inputCalc2.class
/_11_classExample.class
