/_01_if.class
/_02_ifElseif.class
/_03_ifElseIfElse.class
/_04_ifInIfElseIfElse.class
/_05_ifInIfElseIfelse.class
/_06_switchCase.class
/_07_oneToTenPlus.class
/_08_oneToTenPlusFor.class
/_09_forQuestion.class
/_10_forQuestion.class
/_11_while.class
/_12_dowhile.class
/_13_duplicatedFor.class
/_14_continue.class
/_15_break.class
/_16_infiniteWhile.class
/_17_infiniteWhile.class
